In [ ]:
#para criar uma matriz:

In [1]:
dicionario1 = {'col-a':range(1,7),
              'col-b':['A','B','C','D','E','F'],
              'col-c':[5,3,6,9,2,4] }

In [ ]:
#exibindo um elemento do Dataframe criado a partir de um dicionario

In [2]:
dicionario1['col-c'][0]

5

In [ ]:
#fazendo a importação do pandas

In [3]:
import pandas as pd

In [ ]:
#atribuindo o dicionario criado ao dataframe df1

In [4]:
df1 = pd.DataFrame(dicionario1)

In [ ]:
#exibindo o dataframe criado acima - gerando o indice automaticamente pois não atribuimos valor a ele na construção

In [5]:
df1

   col-a col-b  col-c
0      1     A      5
1      2     B      3
2      3     C      6
3      4     D      9
4      5     E      2
5      6     F      4

In [ ]:
#criando novo dicionario para criar itens de pesquisa

In [6]:
dicionario2 = {'col-a':(1,2,3,5,6),
               'col-b':['A','B','C','E','F'],
               'col-d':[10,20,30,40,50]}

In [ ]:
#criando indice

In [9]:
lista_indices = ['linha-1','linha-2','linha-3','linha-4','linha-5']

In [10]:
#atribuindo o dicionario ao dataframe, mas atribuindo também o indice

In [11]:
df2 = pd.DataFrame(dicionario2,
                   index=[lista_indices])

In [12]:
df2

         col-a col-b  col-d
linha-1      1     A     10
linha-2      2     B     20
linha-3      3     C     30
linha-4      5     E     40
linha-5      6     F     50

In [13]:
#chamando pelo indice da linha, preciso sempre dizer qual coluna quero

In [16]:
df2['col-a']['linha-1']

1

In [17]:
#unindo dados: Inner Merge: Analisa os dois dfs e traz os valores iguais na mesma coluna, apenas os valores IGUAIS

In [18]:
#Criando o merge dentre os dois dfs criados acima

In [21]:
d3inner = pd.merge(df1,df2)

In [ ]:
#Traz o retorno do que está igual, no caso a coluna A e B são iguais e permanecem, já as col c, são diferentes então são exibidas separadas.
#E as linhas que não são iguais não são exibidas.

In [22]:
d3inner

   col-a col-b  col-c  col-d
0      1     A      5     10
1      2     B      3     20
2      3     C      6     30
3      5     E      2     40
4      6     F      4     50

In [ ]:
#outer merge: funciona parecido com o inner, a diferença é que ao inves que não mostrar o item faltando ele atribui NaN ao fazer a união
#dos dfs

In [24]:
#criando o outer merge
#how='outer' = indica que não existe um parametro, ambas devem ser referencia,
#podemos usar left ou right, quando você quer usar um dos dfs como parametro.

In [25]:
df3outer=pd.merge(df1,df2,how='outer')

In [ ]:
#exibindo o dataframe criado

In [26]:
df3outer

   col-a col-b  col-c  col-d
0      1     A      5   10.0
1      2     B      3   20.0
2      3     C      6   30.0
3      4     D      9    NaN
4      5     E      2   40.0
5      6     F      4   50.0

In [ ]:
#aplicando as opções usando um dos dataframes como referencia

In [27]:
df3left=pd.merge(df1,df2,how='left')

In [ ]:
#observe que nos lugares onde possui valor em col-a da df1 retorna NaN

In [28]:
df3left

   col-a col-b  col-c  col-d
0      1     A      5   10.0
1      2     B      3   20.0
2      3     C      6   30.0
3      4     D      9    NaN
4      5     E      2   40.0
5      6     F      4   50.0

In [29]:
df3right=pd.merge(df1,df2,how='right')

In [ ]:
#observe que usando o df2 como referencia, ele simplesmente não traz o dado ""extra"" que temos no df1

In [30]:
df3right

   col-a col-b  col-c  col-d
0      1     A      5     10
1      2     B      3     20
2      3     C      6     30
3      5     E      2     40
4      6     F      4     50

In [ ]:
#on: usamos uma coluna como referencia, geralmente as colunas que estarão iguais entre os dois dfs, usando ao fazer o merge de dataframes
#identifico a coluna de referencia apos os parametros do merge.

In [31]:
df3ona = pd.merge(df1,df2, on=("col-a"))

In [32]:
df3ona

   col-a col-b_x  col-c col-b_y  col-d
0      1       A      5       A     10
1      2       B      3       B     20
2      3       C      6       C     30
3      5       E      2       E     40
4      6       F      4       F     50

In [ ]:
#reversed: inverte a ordem da coluna especificada

In [33]:
dicionario1Rev = {
'col-a':reversed(range(1,7)),
                'col-b':['A','B','C','D','E','F'],
                'col-c':[5,3,6,9,2,4]}
df1Rev = pd.DataFrame(dicionario1Rev)
dfcoincidentes1Rev=pd.merge(df1Rev,df2)

In [34]:
df1Rev

   col-a col-b  col-c
0      6     A      5
1      5     B      3
2      4     C      6
3      3     D      9
4      2     E      2
5      1     F      4

In [ ]:
#concat: usados para unir

In [ ]:
#describe: apresenta os valores