In [ ]:
#para criar uma matriz:

In [1]:
dicionario1 = {'col-a':range(1,7),
              'col-b':['A','B','C','D','E','F'],
              'col-c':[5,3,6,9,2,4] }

In [ ]:
#exibindo um elemento do Dataframe criado a partir de um dicionario

In [2]:
dicionario1['col-c'][0]

5

In [ ]:
#fazendo a importação do pandas

In [3]:
import pandas as pd

In [ ]:
#atribuindo o dicionario criado ao dataframe df1

In [4]:
df1 = pd.DataFrame(dicionario1)

In [ ]:
#exibindo o dataframe criado acima

In [5]:
df1

   col-a col-b  col-c
0      1     A      5
1      2     B      3
2      3     C      6
3      4     D      9
4      5     E      2
5      6     F      4